<nav class="navbar navbar-expand-lg  fixed-top " style="background-color: hsl(190, 61%, 92%);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ADMIN PANEL</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link enabled" href="/admin"> ALL USERS</a>
        </li>
        
         
        <li class="nav-item">
          <a class="nav-link enabled" href="/admin/add-users">ADD USERS</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        
         
    {{#if login}}
      <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    ADMIN-{{adminData.name}}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/admin/admin-logout">Log out</a></li>
     
  </ul>
</div>
{{/if}}

      </form>
    </div>
  </div>
</nav>