<nav class="navbar navbar-expand-lg  fixed-top " style="background-color: hsl(190, 61%, 92%);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">EXPERIENCE BMW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{#if user}}SERVICES{{/if}}</a>
        </li>
         
        <li class="nav-item">
          <a class="nav-link enabled">{{#if user}}BOOK A TEST DRIVE{{/if}}</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        
         {{#if user}}
       <div class="dropdown">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{user.name}}
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/logout">LOG OUT</a></li>
  </ul>
</div>
        {{else}}
        {{#if show}}
      <a class="nav-link active" aria-current="page" href="/login"><button type="button" class="btn btn-primary" >LOG IN</button> </a> 
      {{/if}}
{{/if}}
      </form>
    </div>
  </div>
</nav>